.layout {
  display: flex;
}

.main-content {
  margin-left: 260px;

  width: calc(100% - 260px);

  min-height: 100vh;

  background: #f5f7fb;
}

.page-content {
  padding: 30px;
}

@media (max-width: 1024px) {
  .layout {
    display: block;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .page-content {
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .page-content {
    padding: 18px 16px;
  }
}