.sidebar {
  width: 260px;
  height: 100vh;
  background: #111827;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-logo {
  padding: 25px;
  border-bottom: 1px solid #1f2937;
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 28px;
  color: #60a5fa;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;

  text-decoration: none;
  color: #d1d5db;

  padding: 14px 18px;
  border-radius: 10px;

  margin-bottom: 8px;

  transition: 0.3s;
}

.menu-item:hover {
  background: #1e293b;
  color: white;
}

.menu-item.active {
  background: #2563eb;
  color: white;
}

.sidebar-footer {
  padding: 20px;
}

.logout-btn {
  width: 100%;
  border: none;
  background: #ef4444;
  color: white;

  padding: 14px;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}