.board-column{
  background:#edf2f7;
  border-radius:12px;
  padding:20px;
  min-height:550px;
}

.column-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.column-header span{
  background:#2563eb;
  color:white;
  width:28px;
  height:28px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.empty-column {
  text-align: center;
  color: #888;
  margin-top: 20px;
  font-size: 14px;
}